@model MiTienda.Models.Roles

@{
    ViewBag.Title = "Detalles del Rol";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div style="height: 150px; background-color:white"></div>
<div class="row">
    <h2 class="col-md-10" style="text-align:left">Detalles del Rol con ID @Model.id_rol</h2>
    <a href="/Roles/Edit/@Model.id_rol" class="btn col-md-1" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-edit"></i>
        </button>
    </a>
    <a href="/Roles" class="btn col-md-1" style="margin-top: 15px; margin-bottom:20px;">
        <button style="font-size:17px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-arrow-left"></i>
        </button>
    </a>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            <p style="font-size:24px">Nombre: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.nombre</p>
        </dd>

        <dt>
            <p style="font-size:24px">Descripción: </p>
        </dt>

        <dd>
            <p style="font-size:22px">@Model.descripcion</p>
        </dd>

    </dl>
</div>
