@model IEnumerable<MiTienda.Models.Roles>

@{
    ViewBag.Title = "Lista de Roles";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<div class="row">
    <h2 class="col-md-10" style="text-align:left">Lista de Roles</h2>

    <a href="/Roles/Create" class="btn col-md-2">
        <button style="margin-top: 20px; font-size:25px; margin-bottom:10px; background-color:black; color:white; border-radius: 44px;">
            <i class="fa fa-fw fa-plus"></i>
        </button>
    </a>

</div>
    <table id="TablaRoles" class="table table-striped">
        <thead>
            <tr style="background-color: black; color:white">
                <th width="5%">
                    Info
                </th>
                <th width="15%">
                    Rol
                </th>
                <th width="65%">
                    Descripción
                </th>
                <th width="15%">
                    Editar | Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        <a href="/Roles/Details/@item.id_rol">
                            <button style="font-size:15px; background-color:black; color:white; border-radius: 44px;">
                                <i class="fa fa-fw fa-info"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td align="center">
                        <div class="row" >
                            <a href="/Roles/Edit/@item.id_rol">
                                <button style="font-size:15px; background-color:black; color:white; border-radius: 44px;">
                                    <i class="fa fa-fw fa-edit"></i>
                                </button>
                            </a>
                            <a href="/Roles/Delete/@item.id_rol">
                                <button style="font-size:15px; background-color:black; color:white; border-radius: 44px;">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
