@{
    ViewBag.Title = "About";
}
<div style="height: 150px; background-color:white"></div>

<style type="text/css">
    .landing {
        line-height: 1;
        -webkit-text-size-adjust: none;
        color: #777;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.65em;
        letter-spacing: -0.015em;
    }

    #info {
        margin: 0 0 2em 0;
    }

    #quienes {
        color: #646464;
        font-weight: 300;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        font-size: 2.25em;
        line-height: 1.5em;
        letter-spacing: -0.035em;
    }

    #banner {
        background-attachment: scroll,fixed;
        background-color: #666;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Content/images/carrusel/fondo.jpg);
        background-position: top left,center center;
        background-repeat: repeat,no-repeat;
        background-size: auto,cover;
        color: #fff;
        padding: 12em 0 20em 0;
        text-align: center;
    }

        #banner :last-child {
            margin-bottom: 0;
        }

        #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
            color: #fff;
        }

        #banner h2 {
            font-size: 3.5em;
            line-height: 1em;
            margin: 0 0 0.5em 0;
            padding: 0;
        }

        #banner p {
            font-size: 1.25em;
            margin-bottom: 1.75em;
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
</style>

<div class="landing">
    <div id="page-wrapper">
        <section id="banner">
            <h2 id="quienes">¿Quiénes Somos?</h2>
            <p id="info">
                Motor-Inc. Es una empresa dedicada a la venta online de motores eléctricos
                para todas sus necesidades y de marcas altamente reconocidas. Nos caracterizamos por ser
                la única empresa en llevar acabo un exhaustivo filtro de los productos que se ponen a la venta,
                todos estos se revisan y se ponen a prueba de fallas, Así que nuestros productos son
                totalmente confiables.
            </p>
            <p>
                Además de tener productos para cualquier tipo de usuarios, también contamos con venta
                a mayoreo para aquellas pequeñas o medianas empresas, todo esto de la mano de la calidad
                que nos respalda
            </p>
        </section>
    </div>
</div>