@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/images/carrusel/estilos.css">

<style>
    .page-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 1px solid black;
    }

    .product-container {
        margin: 15px;
        padding: 2px 16px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
        background-color: white;
    }

        .product-container img {
            width: 300px;
        }

    .button-add {
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        padding: 10px 20px;
        background-color: white;
        color: white;
        border: 2px solid royalblue;
        transition-duration: 0.4s;
        position: absolute;
        right: 15px;
        bottom: 10px;
    }
</style>

<div style="height: 150px; background-color:white"></div>

<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1"
               name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="~/Content/images/carrusel/carrusel1.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-2"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="~/Content/images/carrusel/carrusel2.jpg">
        </div>
        <input class="slide-open" type="radio" id="slide-3"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="~/Content/images/carrusel/carrusel3.jpg">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>

<h2>Seleccione una Categoria</h2>

<div class="page-content">

    <div class="product-container">
        <h3>Corriente Alterna</h3>
        <img src="~/Content/images/motores/alterna6.jpg" />
        <button class="button-add">@Html.ActionLink("Ir", "prodCategoria", "Catalogo", new { idCat = 1 }, null)</button>
    </div>

    <div class="product-container">
        <h3>Corriente Continua</h3>
        <img src="~/Content/images/motores/continua1.jpg" />
        <button class="button-add">@Html.ActionLink("Ir", "prodCategoria", "Catalogo", new { idCat = 2 }, null)</button>
    </div>

</div>