@{
    ViewBag.Title = "Home Page";
}

<style>
    .page-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border: 1px solid black;
    }

    .product-container {
        margin: 15px;
        padding: 2px 16px;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
        background-color: white;
    }

        .product-container img {
            width: 300px;
        }

    .button-add {
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        padding: 10px 20px;
        background-color: white;
        color: white;
        border: 2px solid royalblue;
        transition-duration: 0.4s;
        position: absolute;
        right: 15px;
        bottom: 10px;
    }
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/carrusel/carrusel1.jpg" alt="...">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/carrusel/carrusel2.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/carrusel/carrusel3.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h2>Seleccione una Categoria</h2>

<div class="page-content">

    <div class="product-container">
        <h3>Corriente Alterna</h3>
        <img src="~/Content/images/motores/alterna6.jpg" />
        <button class="button-add">@Html.ActionLink("Ir", "prodCategoria", "Catalogo", new { idCat = 1 }, null)</button>
    </div>

    <div class="product-container">
        <h3>Corriente Continua</h3>
        <img src="~/Content/images/motores/continua1.jpg" />
        <button class="button-add">@Html.ActionLink("Ir", "prodCategoria", "Catalogo", new { idCat = 2 }, null)</button>
    </div>

</div>