@model IEnumerable<MiTienda.Models.Empleado>

@{
    ViewBag.Title = "Administrador de Empleados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<h2 style="text-align:left">Bienvenido Jesus Imanol</h2>
<hr/>
<br />
<div style="font-size:18px">
    <p> Iniciaste sesion como Administrador de cuentas de Empleados.</p>
    <p> Aquí podrás las siguientes actividades:</p>
    <ul>
        <li>Ver un Listado con Empleados Y Roles existentes.</li>
        <li>Crear Nuevos Empleados y Roles.</li>
        <li>Actualizar Informacion de Empleados Y Roles existentes.</li>
        <li>Eliminar Empleados Y Roles existentes.</li>
        <li>Consultar la información de un registro en específico.</li>
    </ul>
</div>
<p>Selecciona una de las opciones de la barra de navegacion para comenzar.</p>
