@model IEnumerable<MiTienda.Models.Empleado>

@{
    ViewBag.Title = "Administrador de Empleados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}


<h2 class="col-md-10" style="text-align:left">Bienvenido Jesús</h2>
<hr/>
<br />
<br />
<p style="font-size:23px">Aqui podrás adminitrar las cuentas de los empledos y los roles existentes dentro de la tienda, haz click en las opciones de la barra de navegacion para comenzar.</p>
